<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000981442101-j5gjvu57ca43fa7p1mo8ebrf1dvc5eev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000981442101-j5gjvu57ca43fa7p1mo8ebrf1dvc5eev</string>
	<key>API_KEY</key>
	<string>AIzaSyDFTbawd0539NWz7WkkyXcByJuXHl8l3WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1000981442101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.mad2.SelFit</string>
	<key>PROJECT_ID</key>
	<string>selfit-45b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>selfit-45b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000981442101:ios:8bcb97fc1d24984d324b7c</string>
</dict>
</plist>